
@{
    ViewData["Title"] = "GetFilteredProducts";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
@using X.PagedList.Mvc.Core;
@model Product.ProductViewModel;
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    @foreach (var categories in Model.Categories)
                    {
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" name="categories" id="@categories.Id" value="@categories.Id" onclick="" />
                                <label for="@categories.Id">
                                    <span></span>
                                    @categories.CategoryName
                                </label>
                            </div>
                        </div>
                    }
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    @foreach (var brand in Model.Brands)
                    {
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" name="brands" id="brand-@brand.Bid" value="@brand.Bid"
                                       onclick="setCheck1(this)" />
                                <label for="brand-@brand.Bid">
                                    <span></span>
                                    @brand.Bname
                                </label>
                            </div>
                        </div>
                    }

                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <!--                        <div class="aside">
                                                <h3 class="aside-title">Top selling</h3>
                    <c:forEach items="${requestScope.data}" begin="${1}" end="${4}" var="p">
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="${p.image}" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">${p.category}</p>
                            <h3 class="product-name"><a href="#">${p.name}</a></h3>
                            <h4 class="product-price">${p.price} <del class="product-old-price">${p.price + 100.00}</del></h4>
                        </div>
                    </div>
                    </c:forEach>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div>-->
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <form asp-action="FilterPrice" method="post" asp-asp-controller="ProductList">
                                <select class="input-select" name="sort" onchange="this.form.submit()">
                                    <option value="0"></option>
                                    <option value="1">Price Descending</option>
                                    <option value="2">Price Ascending</option>
                                </select>
                            </form>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>

                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row" id="product-list">
                    <!-- product -->
                    @foreach (var item in Model.Products)
                    {
                        @await Html.PartialAsync("ProductPartial", item)
                    }

                </div>
                <!-- /store products -->
                <!-- store bottom filter -->

                <div class="store-filter clearfix">

                    <ul class="">

                        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
                   {
                       LiElementClasses = new List<String> { "page-item" },
                       PageClasses = new List<String> { "page-link" }
                   }
                                 )
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<script>
    // Handle checkbox change event
    $('input[type="checkbox"] [name="brands"]').on('change', function () {
        var selectedBrands = $('input[type="checkbox"] [name="brands"]: checked').map(function () {
            return $(this).val();
        }).get();
        $.ajax({
            url: '@Url.Action("GetFilteredProducts", "ProductList")',
            type: 'POST',
            dataType: 'html',
            data: {
                brandIds: selectedBrands
            },
            success: function (result) {
                $('#product-list').html(result);
            },         
            error: function () {
                console.log('An error occurred while retrieving filtered product data.');
            }
        });
    });
</script>



