@using WebAssignment.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Product>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>ProductList</h2>

<p>
    <a asp-action="AddProduct">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                No
            </th>
            <th>
                Image
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-info";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-info";
            if (i % 2 == 0)
            {
                cls = "table-success";
            }
            <tr class="@cls">
            <td>
                
            </td>
            <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="UpdateProduct" asp-route-productId="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteProduct" asp-route-productId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model,page => Url.Action("ProductList", new {page=page}), new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    }
)

